/data
*.egg-info
.pytest_cache
renders
output*
temp*
__pycache__
.threestudio_cache
wandb
old
wandb_media
notebooks/epipolar
notebooks/media
notebooks/web
notebooks/inpaint
notebooks/grid_prior_figure
notebooks/inpaint_grid
notebooks/figure_assets
notebooks/videos
notebooks/joint_inpainting_figure
external
MultiDiffusion
pytorch3d
diffusers
*.ply
/models
static/videos_uncompressed
static/videos_comparison_uncompressed
cvpr